.todos {
  max-width: 22rem;
  min-width: 15rem;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  text-align: left;

  > p {
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    color: #667085;
  }
}