.createTodo {
  display: flex;
  justify-content: center;
  max-height: 30px;
  margin-top: 50px;
  margin-bottom: 20px;

  > button {
    width: 35px;
    height: 35px;
    border: none;
    background: none;
    cursor: pointer;
  }

  > input {
    max-width: 22rem;
    min-width: 19rem;
    min-height: 30px;
    border-radius: 15px;
    border-style: solid;
    border-color: blueviolet;
    padding-left: 15px;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
  }
}